.social-container {
    border-bottom: 1px lightgray solid;
}

ul {
    li {
        color:white; 
        cursor: pointer;
        &:hover {
            text-decoration: underline;
            color: $clr1;
        }
    }
}

.fab {
    color: $clr4;
    cursor: pointer;

    &:hover {
        color: $clr2;
    }
}
