.placeholder-first{
    background-color: aquamarine;
    width:100%; 
    grid-column: 1/3;

}

.placeholder{
    background-color: aquamarine;
    width:100%; 
    grid-column: 3/5;

}

.text-section-1{
    grid-column: 3/5;
    margin-left: 50px;
}
