.cta h2 {
    font-weight: 400;
    font-size: 2rem;
    color: #ffffff;
}

.cta-pattern-desktop {
    background-color: hsl(256, 26%, 20%);
    background-image: url('../../imgs/homepage/ready-bg-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    button{
        align-self:center; 
    }
}