.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));
    grid-auto-rows: auto;
    grid-column: 2/-1;
}


.humanizing {
    background-color: hsl(256, 26%, 20%);
    color: #ffffff;
    // position: relative;
    // z-index: -3;
    height: 600px;
    // padding: 6em 12em;
    // width:100%; 
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;


}

.image-container {
    grid-column: 3/5;
    // width: 20em;
    // max-height: 40em;
    height: 100%;
    background-image: url("../../imgs/image-intro-desktop.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

}