.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));
    grid-auto-rows: auto;
    grid-column: 2/-1;
}


.humanizing {
    background-image: url("../../imgs/homepage/hero-bg-desktop.jpg");
     
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:$clr2;
    color: #ffffff;
    height: 600px;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
}

.image-container {
    grid-column: 3/5;
    // width: 20em;
    // max-height: 40em;
    height: 100%;


}