@font-face {
    font-family: Karla-Regular;
    src: url(../../fonts/Karla/static/Karla-Regular.ttf);
}

@font-face {
    font-family: Karla-Medium;
    src: url(../../fonts/Karla/static/Karla-Medium.ttf);
}

@font-face {
    font-family: Karla-Light;
    src: url(../../fonts/Karla/static/Karla-Light.ttf);
}

@font-face {
    font-family: Karla-SemiBold;
    src: url(../../fonts/Karla/static/Karla-SemiBold.ttf);
}

@font-face {
    font-family: DMSerifDisplay-Regular;
    src: url(../../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
}