

$clr1:rgb(45, 38, 64); 
$clr2:rgb(43, 39, 47); 
$clr3:rgb(149, 169, 198); 
$clr4:hsl(273, 4%, 51%); 
$clr5:hsl(0, 0%, 98%); 


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

